* {
	font-family: "Gill Sans", sans-serif;

}

h1 {
	font-family: "Gill Sans", sans-serif;
	font-size: 36px;
	color: #3a4664;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 28px;
	color: #eaa0a2;
	font-weight: 200;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #3a4664;
	line-height: 23px;
}
 p {
 	font-family: "Gill Sans", sans-serif;
 	font-size: 20px;
 	color: #7B7573;
 	line-height: 20px;
 	font-weight: 400;
 }

a {
	color: #3a4664;
}
header row {

	text-align: right;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
border: 2px solid transparent;
background: #eaa0a2;
color: #ffd6d6;
font-size: 16px;
line-height: 20px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 120px;
margin: 0 auto;
}
 
.btn:hover {
background-color: #fff0f0;
border-style: solid;
border-color: #eaa0a2;
}

.login {
	text-align: right;
	
}
.about {
	background: #ffe3e3;
	padding: 20px;
	margin: 20px;
	margin-left: -30px;
	font-family: Snell Roundhand, cursive;
	font-size: 18px;
	letter-spacing: 10px;
	line-height: 1.6;

}
.container {
	background-color: #fff9f9;
}
.grudge-bucket {
	background: #efb5b6;
	padding: 20px;
	margin: 20px;
	margin-left: 20px;
	transition: 0.25s;
}
.col h2 {
	color: #eaa0a2;

}
.grudge {
	background: #fff9f9;
	font-size: 15px;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
	border-style: solid;
	border-color: #eaa0a2; 
}
.grudge h3{
	color: #eaa0a2;
	font-size: 20px;
}
.grudge-description {
	font-family: Snell Roundhand, cursive;
	letter-spacing: 0.1em;
	line-height: 1.6;

}
.grudge figcaption{
	font-size: 14px;
	text-align: right;
	

}
.grudge img {
	
	width: 50px;
	border-radius: 50%;
	margin-right: -20px;

}

.row {
	
	margin: 20px;
	margin-left: 25px;
	border-bottom-width: 4px;
}



.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
	text-align: right;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #dbdbdb;
	width:100%;
	text-decoration: none;
	align-self: center;

}

.flash li {
	list-style-type: none;
	text-align: center;
}