{% extends "main.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-11 col-md-offset-1 ">
			<h1>Edit </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 ">
			
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{grudge.name}}">

					<label for="description">Description:</label>
					<input type ="text" maxlength="250" class="form-control" name="description" value="{{grudge.description}}">
					
					<label for="processed">Processed?</label>
					<input type ="text" maxlength="5" class="form-control" name="processed" value="{{grudge.processed}}">
					
					<label for="takeaway">Takeaway:</label>
					<input type ="text" maxlength="250" class="form-control" name="takeaway" value="{{grudge.takeaway}}">
					<div class="padding-bottom"></div>
					
				
				

				<a href="{{url_for('showGrudge', grudget_id=grudget_id)}}">
				<button class="btn" id="new-grudge-item">
					<span  aria-hidden="true">Save
				</button></span>
			</a>

			<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
				</div>
			</form>
			
		</div>
	</div>
{% endblock %}

	