{% extends "main.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>My Grudgets</h1>
		</div>
	</div>

	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newGrudget')}}">
				<button class="btn" id="new-grudget">
					<span aria-hidden="true"></span>Add Grudget
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	</div>
	
		{% for grudget in grudgets %}
		<a href = "{{url_for('showGrudge', grudget_id = grudget.id)}}">
			<div class="row grudge-bucket">

				<div class="col-md-10 grudget-list align=center"><h3>{{grudget.name}}</h3></div>
			
			</div>
		</a>
	{% endfor %} 
{% endblock %}
